* {
  padding: 0;
  margin: 0;
}
canvas {
  background: #eee;
  display: block;
}
h1{
  z-index: 1;
  position: absolute;
  display: block;
  margin: 20vh auto;
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 5em;
}
